.Card
{
 
   position: relative;
   background-color: black;
   border-radius: 2rem;
   width: 320px;
   height: 450px;
   cursor: pointer;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: attr(data-color);
        clip-path: circle(150px  at 80% 20%);
        transition: .5s ease-in-out;

    }
    &:hover::before{
        clip-path: circle(300px at 80% -20%);
    }
    ::after{
        content:attr(data-content);
        position: absolute;
        top: 30%;
        left: -20%;
        font-size: 12em;
        color:rgba(255,255,255,0.04);
        font-weight: 800;
    }
    .ImgBox{
        position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9999;
            width: 100%;
            height: 220px;
            transition: .5s;
    }
    &:hover > .ImgBox{
        top: 0%;
        transform: translateY(0%);
    }
    .ImgBox img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(-25deg);
        width: 270px;
    }
    .ContentBx
    {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;
        transition: 1s;
        z-index: 10;
        h3{
            position: relative;
            letter-spacing: 1px;
            font-weight: 600;
            color:#fff;
    
        }
         .Color,.Size,.Price
        {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .8rem 2rem;
            transition: .5s;
            opacity: 0;
            visibility: hidden;
        
        h3
        {
            color:#fff;
            font-weight: 300;
            font-size: 1.4rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-right: 10px;
        }
         span{
            width: 26px;
            height: 26px;
            text-align: center;
            line-height: 26px;
            font-size: 14px;
            display: inline-block;
            color:#111;
            background:#fff;
            margin:0 5px;
            transition: .5s;
            border-radius: 4px;
            cursor: pointer;
           
        }
        }
      
        a{
            opacity: 1;
            transform: translateY(0px);
            transition-delay: .75s;
        }
        .btn{
            padding: 1rem;
            background-color: white;
            display: inline;
            opacity: 0;
            visibility: hidden;
            z-index: 999;
        }
    }
     &:hover {
        .ContentBx{
            height: 210px;
    
        }
     }
     &:hover{
        .Color,.Size,.Price,.btn{
            opacity: 1;
            visibility: visible;
        }
      
     }
     &:hover .ContentBx .Size{
        span:hover{
            background-color: #9bdc28;
    }
     }
     &:hover .ContentBx .Color{
            transition-delay: .6s;
     }
}
