.GuessAuthLayout
{
    background: url("https://img.freepik.com/free-vector/japanese-wave-line-art-landscape-background-abstract-mountain-banner-design-pattern-vector-illustration-geometric-poster_90220-715.jpg?w=1380&t=st=1659835980~exp=1659836580~hmac=f16d5dce635fe7b75f4c48481aa47a58aa35b5fb23bc01707f21feb96cac0e74") center ;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
    .mainAuthLayout
    {

        h1,h3{
            font-weight: 700;
            text-transform: uppercase;
        }
        width: 50rem;
        padding: 3rem 4rem;
        background-color: white;
         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
         border-radius: .4rem;
    }
}