.wrapper{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
    opacity: 0.5;
    .circle-loading {
        width: 4rem;
        height: 4rem;
        border-radius: 15rem;
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 50%;
        transform: translate(-50%,-50%);
        margin: 0 auto;
        --color: #6a5af9;
        &.circle-loading:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            border: 1rem solid transparent;
            border-right-color: var(--color);
            border-bottom-color:  var(--color);
            animation: circleLoading 1s forwards infinite linear;
            @keyframes circleLoading {
                to {
                   transform: rotate(360deg);
                }
             }
                  
         }
         
     }
     
}