.Header_Content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .SearchInput_Component
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex:1;
    }
    .Search_Input
    {
        flex:1;
       display: flex;
       align-items: center;
    }
}